.error-message {
    padding: 7px 10px;
    background: #fff1f2;
    border: #ffd5da 1px solid;
    color: #d6001c;
    border-radius: 4px;
}
.success-message {
    padding: 7px 10px;
    background: #cae0c4;
    border: #c3d0b5 1px solid;
    color: #027506;
    border-radius: 4px;
}
.demo-table {
    background: #d9eeff;
    width: 100%;
    border-spacing: initial;
    margin: 1px 0px;
    table-layout: auto;
    line-height: 1.8em;
    color: #333;
    border-radius: 4px;
    padding: 20px 10px;
    overflow-x: scroll;
}

/*.demo-table tr:nth-child(even) {
    background-color: #ffff00;
}*/

.demo-table tr:nth-child(odd) {
    background-color: #77b300;
}

.demo-table-small {
    background: #d9eeff;
    width: 100%;
    border-spacing: initial;
    margin: 1px 0px;
    table-layout: auto;
    line-height: 1.8em;
    color: #333;
    border-radius: 4px;
    padding: 20px 10px;
    overflow-x: scroll;
}


.demo-table td {
    padding: 5px 0px;
    overflow-x: scroll;
}
.demoInputBox {
    padding: 10px 10px;
    border: #a9a9a9 2px solid;
    border-radius: 4px;
    overflow-x: scroll;
}
.btnAddColumn {
    padding: 10px 30px;
    background-color: #3367b2;
    border: 0;
    color: #333;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}
.btnDeleteColumn {
    padding: 10px 30px;
    background-color: #3367b2;
    border: 0;
    color: #FFF;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

.actionButtons {
    padding: 10px 10px;
    background-color: #3367b2;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

.button {
    background-color: #080808; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2 {
    background-color: #d6001c; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}